<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925543851178-faanallcdcd31cj3la2168bmd2tvo6m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925543851178-faanallcdcd31cj3la2168bmd2tvo6m1</string>
	<key>API_KEY</key>
	<string>AIzaSyD9N60Sfoh86nEhEydpgJLmECUZhN01RV8</string>
	<key>GCM_SENDER_ID</key>
	<string>925543851178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.watage.todoTestApp</string>
	<key>PROJECT_ID</key>
	<string>todo-test-app-f1534</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-test-app-f1534.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925543851178:ios:cd00b8d52a24c49122dcd3</string>
</dict>
</plist>